<div class="row">
    <div class="col-md-12">
        <form class="input-group" (ngSubmit)="onSubmitEvent()">

            <label for="search" jhiTranslate="jhipsterApp.search.title" class="d-none">Search</label>
            <input type="text" id="search" name="search" [(ngModel)]="search" class="form-control" placeholder="{{'jhipsterApp.search.title' | translate}}"/>

            <span class="input-group-btn">
                <button type="submit" class="btn btn-success d-inline ml-1" [disabled]="isDataLoading"><fa-icon [icon]="'search'"></fa-icon></button>

                <span [hidden]="null == search || '' == search">
                    <button type="button" class="btn btn-danger d-inline" [disabled]="isDataLoading"><fa-icon [icon]="'trash-alt'" (click)="onResetEvent()"></fa-icon></button>
                </span>
            </span>

        </form>
    </div>
</div>
