<div>
    <div class="alert alert-warning" *ngIf="comments?.length === 0">
        <span jhiTranslate="jhipsterApp.comment.home.notFound">No comments found</span>
    </div>
    <div class="table-responsive" *ngIf="comments?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
                <th scope="col" jhiSortBy="postTitle"><span jhiTranslate="jhipsterApp.comment.post">Post</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="content"><span jhiTranslate="jhipsterApp.comment.content">Content</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="commentDate"><span jhiTranslate="jhipsterApp.comment.commentDate">Comment Date</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="username"><span jhiTranslate="jhipsterApp.comment.username">Username</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let comment of comments ;trackBy: trackId">
                <td>
                    <div *ngIf="comment.postId">
                        <a [routerLink]="['/blog/', comment.postId ]">{{comment.postTitle}}</a>
                    </div>
                </td>
                <td>{{comment.content}}</td>
                <td>{{comment.commentDate | date:'medium'}}</td>
                <td>{{comment.username}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/blog/admin/comment', comment.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                        </button>
                        <button type="submit"
                                [routerLink]="['/blog/admin/comment', { outlets: { popup: comment.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
