<div class="list-group mb-3" id="filter_tags">

    <!-- HEADER -->
    <div class="list-group-item list-group-item-action list-group-item-secondary p-2">
        <!-- TITLE -->
        <span>
            <fa-icon icon="folder-open"></fa-icon>
            <span jhiTranslate="jhipsterApp.menu.filter">Filter</span> :
            <span jhiTranslate="jhipsterApp.menu.tags">Tags</span>
            </span>
        <!-- PAGINATE -->
        <jhi-blog-select-paginate [service]="getService()" [method]="'query'" [sortBy]="['slug,asc']" (loadDataEvent)="loadTags($event)" (errorEvent)="onError($event)"></jhi-blog-select-paginate>
    </div>

    <div [hidden]="!queryRequest['tagsId.equals']"
         style="cursor: pointer"
         class="list-group-item list-group-item-action p-2"
         (click)="onSelectAllTags()">
        <span jhiTranslate="jhipsterApp.tags.all">All tags</span>
    </div>
    <!-- template content for items -->
    <div *ngFor="let tag of tags; trackBy:trackId"
         id="filter-tags-{{tag.id}}"
         style="cursor: pointer"
         [ngClass]="isActiveItem(tag.id) ? 'list-group-item list-group-item-action p-2 active' : 'list-group-item list-group-item-action p-2'"
         (click)="onSelectTags(tag)">
        {{tag.name}}
    </div>

</div>
