<div class="d-flex justify-content-center" *ngIf="isLoading">
    <div class="spinner-border " role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div *ngIf="!isLoading && posts">
    <h3 id="page-heading">
        <span jhiTranslate="jhipsterApp.post.lastposts">Posts</span>
    </h3>
    <div class="table-responsive table-sm">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
                <th scope="col"><span jhiTranslate="jhipsterApp.post.detail.title">Article</span>
                </th>
                <th scope="col"><span jhiTranslate="jhipsterApp.post.category">Category</span>
                </th>
                <th scope="col"><span jhiTranslate="jhipsterApp.post.tags">Tags</span>
                </th>
            </tr>
            </thead>
            <tbody *ngIf="posts.length === 0">
            <tr *ngIf="posts.length == 0">
                <td colspan="4" class="text-center center">
                    <span jhiTranslate="jhipsterApp.post.home.notFound">No posts found</span>
                </td>
            </tr>
            </tbody>
            <tbody>
            <tr *ngFor="let post of posts ;trackBy: trackId">
                <td>
                    <a [routerLink]="['/blog', post.slug]">{{post.title}}</a>
                    <small>
                        <br/>{{post.createdBy}} - {{post.createdDate | date:'fullDate'}}
                    </small>
                </td>
                <td>
                    <div *ngIf="post.categoryId">
                        <a [routerLink]="['/blog/category', post.categorySlug]">{{post.categoryName}}</a>
                    </div>
                </td>
                <td class="w-25">
                    <span class="badge badge-primary mr-1" style="cursor: pointer" *ngFor="let tag of post.tags" [routerLink]="['/blog/tags', tag.slug]">
                        {{tag.name}}
                    </span>
                </td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="posts?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
