<!-- CONTENT -->
<div>
    <div class="d-flex justify-content-center" *ngIf="isLoading">
        <div class="spinner-border " role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div class="alert alert-warning" *ngIf="!isLoading && posts?.length === 0">
        <span jhiTranslate="jhipsterApp.post.home.notFound">No posts found</span>
    </div>
    <div *ngIf="!isLoading && posts && posts?.length > 0" class="row">

        <div class="col-md-4" *ngFor="let post of posts ;trackBy: trackId">
            <div class="card mb-4">
                <!-- BANNER -->
                <a [routerLink]="['/blog', post.slug]" *ngIf="post.featuredImageContentType">
                    <img [src]="'data:' + post.featuredImageContentType + ';base64,' + post.featuredImage" style="max-width: 100%;" alt="post image"/>
                </a>
                <!-- CARD CONTENT -->
                <div class="card-body text-justify">
                    <!-- CARD TITLE -->
                    <div class="card-title">
                        <a [routerLink]="['/blog/post', post.slug]">
                            <h5 class="d-inline">{{post.title}}</h5>
                        </a>
                        <span *ngIf="!post.publish" class="d-inline badge badge-secondary float-right" jhiTranslate="jhipsterApp.post.publishDisable">Draft</span>
                    </div>
                    <!-- CARD TEXT -->
                    <p class="card-text">{{post.description}}</p>
                </div>
                <!-- CARD FOOTER -->
                <div class="card-footer text-muted small">
                    <div *ngIf="post.categoryId">
                        <fa-icon icon="folder-open"></fa-icon>&nbsp;
                        <span>
                                <a [routerLink]="['/blog/category', post.categorySlug]">{{post.categoryName}}</a>
                            </span>
                    </div>
                    <div class="d-inline-block" *ngIf="post.createdBy">
                        <fa-icon [icon]="'user-check'"></fa-icon>&nbsp;<span> {{post.createdBy}}</span>
                    </div>
                    <div class="d-inline-block" *ngIf="post.createdDate">
                        &nbsp; | &nbsp;
                        <fa-icon [icon]="'user-clock'"></fa-icon>&nbsp;<span>{{post.createdDate | date:'medium'}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- PAGINATE -->
    <div [hidden]="posts?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
