<div>

    <!-- HEADER -->
    <div class="row">
        <div class="col-12">
            <h2 id="page-heading">
        <span *ngIf="requestParam['categoryName.equals']">
            <span jhiTranslate="jhipsterApp.category.home.title">Category</span> {{getCategoryName()}}
            <fa-icon [icon]="'arrow-right'" class="small"></fa-icon>
        </span>
                <span jhiTranslate="jhipsterApp.post.home.title">Posts</span>

                <button id="jh-create-entity"
                        *jhiHasAnyAuthority="'ROLE_ADMIN'"
                        class="btn btn-primary float-right jh-create-entity create-post"
                        [routerLink]="['/blog/admin/post/new']">
                    <fa-icon [icon]="'plus'"></fa-icon>
                </button>
            </h2>
            <jhi-alert-error></jhi-alert-error>
            <jhi-alert></jhi-alert>
        </div>
    </div>

    <br/>

    <!-- SEARCH BAR -->
    <div class="row">
        <div class="col-12">
            <jhi-blog-widget-post-search [query]="requestParam" [isDataLoading]="isLoading" (onSearchEvent)="onSearchTerm($event)"></jhi-blog-widget-post-search>
        </div>
    </div>

    <br/>

    <!-- PAGE CONTAINER -->
    <div class="row">
        <!-- MENU -->
        <div class="col-md-2">
            <jhi-blog-widget-category-menu></jhi-blog-widget-category-menu>
            <jhi-blog-widget-tags-menu></jhi-blog-widget-tags-menu>
        </div>
        <!-- LIST VIEW -->
        <div class="col-md-8">
            <jhi-blog-widget-post-list-card-view [(query)]="requestParam" (routePageChange)="transition($event)"></jhi-blog-widget-post-list-card-view>
        </div>
        <!-- FILTER -->
        <div class="col-md-2">
            <jhi-blog-widget-category-filter [queryRequest]="requestParam" (onCategoryChange)="onFilterCategory($event)"></jhi-blog-widget-category-filter>
            <jhi-blog-widget-tags-filter [queryRequest]="requestParam" (onTagsChange)="onFilterTags($event)"></jhi-blog-widget-tags-filter>
        </div>
    </div>

</div>
