<jhi-blog-admin-subnavbar></jhi-blog-admin-subnavbar>
<div>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-md-10">
            <h2 id="page-heading">
                <span jhiTranslate="jhipsterApp.category.home.title">Category</span>
            </h2>
        </div>
        <div class="col-md-2">
            <button type="submit" (click)="previousState()" class="btn btn-info float-right">
                <fa-icon [icon]="'arrow-left'"></fa-icon>
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <jhi-blog-admin-category-update (createdCategory)="catchNewCategory()"></jhi-blog-admin-category-update>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body pt-0">
                    <jhi-blog-admin-category-list></jhi-blog-admin-category-list>
                </div>
            </div>
        </div>
    </div>
</div>
