<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterApp.tags.home.title">Tags</span>
        <button id="jh-create-entity"
                *jhiHasAnyAuthority="'ROLE_ADMIN'"
                class="btn btn-primary float-right jh-create-entity create-tags"
                [routerLink]="['/blog/admin/tags']">
            <fa-icon [icon]="'plus'"></fa-icon>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <jhi-blog-widget-common-search [isDataLoading]="isLoading" (resetEvent)="onSearchReset()" (searchChange)="onSearchTerm($event)"></jhi-blog-widget-common-search>
    <br/>
    <div class="alert alert-warning" *ngIf="tags?.length === 0">
        <span jhiTranslate="jhipsterApp.tags.home.notFound">No Tags found</span>
    </div>
    <div *ngIf="tags?.length > 0" class="row">

        <div class="col-md-4" *ngFor="let tag of tags ;trackBy: trackId">
            <div class="card mb-4">
                <!-- CARD CONTENT -->
                <div class="card-body text-justify">
                    <a [routerLink]="['/blog/tags', tag.slug]">
                        <h5 class="card-title">{{tag.name}}</h5>
                    </a>
                    <p class="card-text" [innerHTML]="tag.description"></p>
                </div>
            </div>
        </div>
    </div>

    <!-- PAGINATE -->
    <div [hidden]="tags?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
