<jhi-blog-admin-subnavbar></jhi-blog-admin-subnavbar>
<div>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-md-10">
            <h2 id="page-heading">
                <span jhiTranslate="jhipsterApp.post.home.title">Post</span>
            </h2>
        </div>
        <div class="col-md-2">
            <button type="submit" (click)="previousState()" class="btn btn-info float-right">
                <fa-icon [icon]="'arrow-left'"></fa-icon>
            </button>
<!--            TODO CHECK-->
            <button class="btn btn-primary float-right jh-create-entity" [routerLink]="['/blog/admin/post/new']">
                <fa-icon [icon]="'plus'"></fa-icon>
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <jhi-blog-admin-post-list></jhi-blog-admin-post-list>
                </div>
            </div>
        </div>
    </div>
</div>
