<jhi-blog-admin-subnavbar></jhi-blog-admin-subnavbar>
<div>
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">

        <jhi-alert-error></jhi-alert-error>

        <!-- TITLE/TOOLBAR -->
        <div class="row">
            <div class="col-8">
                <h2 id="jhi-post-heading" jhiTranslate="jhipsterApp.post.home.title">Create or edit a Post</h2>
            </div>
            <div class="col-4 text-right">
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>
                </button>
            </div>
        </div>

        <!-- EDITOR -->
        <div class="row">
            <!-- EDITOR-CONTENT -->
            <div class="col-8">
                <div>
                    <div class="form-group d-none">
                        <label for="id" jhiTranslate="global.field.id">ID</label>
                        <input type="text" class="form-control" id="id" name="id" formControlName="id"
                               readonly/>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="jhipsterApp.post.title" for="field_title">Title</label>
                        <input type="text" class="form-control" name="title" id="field_title" formControlName="title" (ngModelChange)="buildSlug()"/>
                        <div *ngIf="editForm.get('title').invalid && (editForm.get('title').dirty || editForm.get('title').touched)">
                            <small class="form-text text-danger" *ngIf="editForm.get('title').errors.required" jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                            <small class="form-text text-danger" *ngIf="editForm.get('title').errors.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 3 }">
                                This field is required to be at least 3 characters.
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="jhipsterApp.post.description" for="field_description">Description</label>
                        <textarea class="form-control" name="description" id="field_description" formControlName="description" maxlength="255"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="jhipsterApp.post.content" for="field_content">Content</label>
                        <angular-editor-fa name="content" id="field_content" formControlName="content" [config]="editorConfig"></angular-editor-fa>
                    </div>

                </div>

            </div>

            <!-- EDITOR-CONFIG -->
            <div class="col-4">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterApp.post.slug" for="field_slug">Slug</label>
                    <input type="text" class="form-control" name="slug" id="field_slug" formControlName="slug"/>
                    <div *ngIf="editForm.get('slug').invalid && (editForm.get('slug').dirty || editForm.get('slug').touched)">
                        <small class="form-text text-danger" *ngIf="editForm.get('slug').errors.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger" *ngIf="editForm.get('slug').errors.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 3 }">
                            This field is required to be at least 3 characters.
                        </small>
                        <small class="form-text text-danger" *ngIf="editForm.get('slug').errors.pattern" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'Slug' }">
                            This field should follow pattern for "Slug".
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterApp.post.publish" for="field_publish">Publish</label>
                    <select class="form-control" id="field_publish" name="publish" formControlName="publish">
                        <option [ngValue]="false"><span jhiTranslate="jhipsterApp.post.publishDisable">NO</span></option>
                        <option [ngValue]="true"><span jhiTranslate="jhipsterApp.post.publishEnable">YES</span></option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterApp.post.category" for="field_category">Category</label>
                    <jhi-blog-select-paginate [service]="getCategoryService()" [method]="'queryhierarchical'" [sortBy]="['slug,asc']" (loadDataEvent)="loadCategory($event)" (errorEvent)="onError($event)"></jhi-blog-select-paginate>
                    <select jhi-blog-select-hierarchical
                            class="form-control"
                            id="field_category"
                            name="category"
                            formControlName="categoryId"
                            [itemValue]="'name'"
                            [optional]="true"
                            [datas]="categories"
                            [selectedItemId]="editForm.get('categoryId').value">
                    </select>
                </div>

                <!-- TAGS -->
                <div class="form-group">
                    <label jhiTranslate="jhipsterApp.post.tags" for="field_tags">Tags</label>
                    <jhi-blog-select-paginate [service]="getTagsService()" [method]="'query'" [sortBy]="['slug,asc']" (loadDataEvent)="loadTags($event)" (errorEvent)="onError($event)"></jhi-blog-select-paginate>

                    <div class="list-group" id="field_tags">
                        <div
                            *ngFor="let tagsOption of tags; trackBy: trackTagsById"
                            id="tags-{{tagsOption.id}}"
                            [className]="tagsOption.selectedItem ? 'list-group-item list-group-item-action p-1 active' : 'list-group-item list-group-item-action p-1 '"
                            (click)="onSelectTag(tagsOption)">
                            {{tagsOption.name}}
                        </div>
                    </div>

                </div>

                <!-- FIRST IMAGE -->
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterApp.post.featuredImage" for="field_featuredImage">Featured Image</label>
                    <div>
                        <img [src]="'data:' + editForm.get('featuredImageContentType').value + ';base64,' + editForm.get('featuredImage').value" style="max-height: 100px;" *ngIf="editForm.get('featuredImage').value" alt="post image"/>
                        <div *ngIf="editForm.get('featuredImage').value" class="form-text text-danger clearfix">
                            <span class="pull-left">{{editForm.get('featuredImageContentType').value}}, {{byteSize(editForm.get('featuredImage').value)}}</span>
                            <button type="button" (click)="clearInputImage('featuredImage', 'featuredImageContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_featuredImage" (change)="setFileData($event, 'featuredImage', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="featuredImage" id="field_featuredImage"
                           formControlName="featuredImage"/>
                    <input type="hidden" class="form-control" name="featuredImageContentType" id="field_featuredImageContentType"
                           formControlName="featuredImageContentType"/>
                </div>
            </div>


        </div>

    </form>
</div>
