<nav class="navbar navbar-dark navbar-expand-md bg-dark mb-3">
    <div class="navbar-collapse collapse" id="navbarResponsive">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
                <a class="nav-link" [routerLink]="['/blog/admin/dashboard']">
                    <fa-icon icon="tachometer-alt" fixedWidth="true"></fa-icon>
                    <span jhiTranslate="jhipsterApp.menu.dashboard">Dashboard</span>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
                <a class="nav-link" [routerLink]="['/blog/admin/post']">
                    <fa-icon icon="copy" fixedWidth="true"></fa-icon>
                    <span jhiTranslate="jhipsterApp.menu.posts">Posts</span>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
                <a class="nav-link" [routerLink]="['/blog/admin/comment']">
                    <fa-icon icon="comments" fixedWidth="true"></fa-icon>
                    <span jhiTranslate="jhipsterApp.menu.comments">Comments</span>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
                <a class="nav-link" [routerLink]="['/blog/admin/tags']">
                    <fa-icon icon="tags" fixedWidth="true"></fa-icon>
                    <span jhiTranslate="jhipsterApp.menu.tags">Tags</span>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
                <a class="nav-link" [routerLink]="['/blog/admin/category']">
                    <fa-icon icon="folder-open" fixedWidth="true"></fa-icon>
                    <span jhiTranslate="jhipsterApp.menu.categories">Categories</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
